{% extends 'base.html' %}

{% block title %}Leave Calendar | HRHub Pro{% endblock %}

{% block page_title %}Leave Calendar{% endblock %}

{% block page_subtitle %}
Monthly employee absence overview
{% endblock %}

{% block content %}

<section class="calendar-toolbar">
    <div>
        <h3>{{ month_name }} {{ selected_year }}</h3>
        <p>Employee leave overview</p>
    </div>

    <div class="calendar-actions">
        <a
            href="{% url 'leave_calendar' %}?month={{ previous_month }}&year={{ previous_year }}"
            class="secondary-button"
        >
            Previous
        </a>

        <a href="{% url 'leave_request_list' %}" class="secondary-button">
            Requests
        </a>

        <a
            href="{% url 'leave_calendar' %}?month={{ next_month }}&year={{ next_year }}"
            class="primary-button"
        >
            Next
        </a>
    </div>
</section>

<section class="calendar-legend">
    <div>
        <span class="legend-square approved-square"></span>
        Approved leave
    </div>

    <div>
        <span class="legend-square pending-square"></span>
        Pending request
    </div>

    <div>
        <span class="legend-square rejected-square"></span>
        Rejected
    </div>
</section>

<section class="leave-calendar-card">
    <div class="leave-calendar-scroll">
        <table class="leave-calendar-table">
            <thead>
                <tr>
                    <th class="employee-calendar-column">Employee</th>

                    {% for day in calendar_days %}
                        <th
                            class="
                                calendar-day-header
                                {% if day.is_weekend %}weekend-day{% endif %}
                                {% if day.is_today %}today-day{% endif %}
                            "
                        >
                            <span>{{ day.day_number }}</span>
                            <small>{{ day.day_name }}</small>
                        </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in calendar_rows %}
                    <tr>
                        <td class="employee-calendar-cell">
                            <strong>{{ row.employee.full_name }}</strong>
                            <small>{{ row.employee.employee_number }}</small>

                            {% if row.employee.department %}
                                <small>{{ row.employee.department.name }}</small>
                            {% endif %}
                        </td>

                        {% for cell in row.cells %}
                            <td
                                class="
                                    calendar-cell
                                    {% if cell.is_weekend %}weekend-cell{% endif %}
                                    {% if cell.is_today %}today-cell{% endif %}
                                "
                            >
                                {% for leave_request in cell.leave_items %}
                                    {% if leave_request.status == "APPROVED" %}
                                        <div class="calendar-leave approved-leave">
                                            {{ leave_request.get_duration_display }}
                                        </div>
                                    {% elif leave_request.status == "PENDING" %}
                                        <div class="calendar-leave pending-leave">
                                            {{ leave_request.get_duration_display }}
                                        </div>
                                    {% elif leave_request.status == "REJECTED" %}
                                        <div class="calendar-leave rejected-leave">
                                            {{ leave_request.get_duration_display }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="32" class="empty-table">
                            No employees found.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}