{% extends 'base.html' %}

{% block title %}Employees | HRHub Pro{% endblock %}

{% block page_title %}Employees{% endblock %}

{% block page_subtitle %}
Employee records and management structure
{% endblock %}

{% block content %}

<section class="page-actions">
    <form method="get" class="filter-form">
        <input
            type="text"
            name="search"
            placeholder="Search employee..."
            value="{{ search_query }}"
            class="search-input"
        >

        <button type="submit" class="primary-button">Search</button>
    </form>

    {% if can_edit_employees %}
        <a href="{% url 'employee_create' %}" class="primary-button">
            + Add Employee
        </a>
    {% endif %}
</section>

<section class="table-card">
    <div class="table-header">
        <h3>Employee Directory</h3>
        <p>Workforce records</p>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Employee Number</th>
                <th>Job Title</th>
                <th>Department</th>
                <th>Line Manager</th>
                <th>Employment Type</th>
                <th>Status</th>

                {% if can_edit_employees %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <strong>
                            {{ employee.full_name }}

                            {% if employee.user.profile.role == "MANAGER" %}
                                <span class="small-role-pill">Manager</span>
                            {% endif %}
                        </strong>
                        <br>
                        <small>{{ employee.email }}</small>
                    </td>

                    <td>{{ employee.employee_number }}</td>

                    <td>{{ employee.job_title }}</td>

                    <td>
                        {% if employee.department %}
                            {{ employee.department.name }}
                        {% else %}
                            —
                        {% endif %}
                    </td>

                    <td>
                        {% if employee.manager %}
                            {{ employee.manager.full_name }}
                        {% else %}
                            —
                        {% endif %}
                    </td>

                    <td>{{ employee.get_employment_type_display }}</td>

                    <td>
                        {% if employee.status == "ACTIVE" %}
                            <span class="badge badge-success">Active</span>
                        {% elif employee.status == "ON_LEAVE" %}
                            <span class="badge badge-warning">On Leave</span>
                        {% elif employee.status == "TERMINATED" %}
                            <span class="badge badge-danger">Terminated</span>
                        {% else %}
                            <span class="badge badge-muted">{{ employee.get_status_display }}</span>
                        {% endif %}
                    </td>

                    {% if can_edit_employees %}
                        <td>
                            <div class="table-actions">
                                <a href="{% url 'employee_update' employee.id %}" class="action-link">
                                    Edit
                                </a>

                                <a href="{% url 'employee_delete' employee.id %}" class="action-link danger-link">
                                    Delete
                                </a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    {% if can_edit_employees %}
                        <td colspan="8" class="empty-table">
                            No employees found.
                        </td>
                    {% else %}
                        <td colspan="7" class="empty-table">
                            No employees found.
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}