{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}HRHub Pro{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=6">
</head>
<body>

<div class="app-layout">

    <aside class="sidebar">
        <div class="sidebar-logo">
            <img
                src="{% static 'pictures/logo.png' %}"
                alt="HRHub Pro Logo"
                class="sidebar-logo-image"
            >

            <div>
                <h2>HRHub Pro</h2>
                <p>Payroll ERP</p>
            </div>
        </div>

        <nav class="sidebar-nav">
            <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
            <a href="{% url 'employee_list' %}" class="nav-link">Employees</a>
            <a href="{% url 'department_list' %}" class="nav-link">Departments</a>
            <a href="{% url 'attendance_list' %}" class="nav-link">Attendance</a>
            <a href="{% url 'leave_request_list' %}" class="nav-link">Leave Requests</a>
            <a href="{% url 'shift_calendar' %}" class="nav-link">Shifts</a>
            <a href="{% url 'payslip_list' %}" class="nav-link">Payroll</a>
            <a href="#" class="nav-link">Reports</a>
            <a href="#" class="nav-link">Audit Logs</a>
        </nav>

        <div class="sidebar-footer">
            <p>Logged in as</p>
            <strong>{{ request.user.username }}</strong>

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </aside>

    <main class="main-content">

        <header class="topbar">
            <div>
                <h1>{% block page_title %}Dashboard{% endblock %}</h1>
                <p>{% block page_subtitle %}Workforce management system{% endblock %}</p>
            </div>

            <div class="topbar-user">
                <span>{{ request.user.username }}</span>
                <div class="user-avatar">
                    {{ request.user.username|slice:":1"|upper }}
                </div>
            </div>
        </header>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message message-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

    </main>

</div>

</body>
</html>