{% extends 'base.html' %}

{% block title %}Delete Attendance | HRHub Pro{% endblock %}

{% block page_title %}Delete Attendance{% endblock %}

{% block page_subtitle %}
Confirm attendance record deletion
{% endblock %}

{% block content %}

<section class="delete-card">
    <h3>Delete attendance record</h3>

    <p>
        You are about to delete attendance for
        <strong>{{ attendance_record.employee.full_name }}</strong>
        on
        <strong>{{ attendance_record.date|date:"d M Y" }}</strong>.
    </p>

    <p class="warning-text">
        This action cannot be undone.
    </p>

    <form method="post" class="delete-actions">
        {% csrf_token %}

        <a href="{% url 'attendance_list' %}" class="secondary-button">Cancel</a>
        <button type="submit" class="danger-button">Delete Record</button>
    </form>
</section>

{% endblock %}